@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: GMX;
    src: url('./../../font/gmx-font/GMX-Regular.ttf');
}

@font-face {
    font-family: GMX-bold;
    src: url('./../../font/gmx-font/GMX-Black.ttf');
}

.title {
    font-family: 'GMX-bold';
    color: #651C32;
    font-size: 2.2rem;
    width: 100%;
    text-align: center;
}

#map_section {
    display: flex;
    flex-wrap: wrap;
}

.article_item {
    flex-grow: 1;
    flex-basis: 0;
}

header {
    width: 100%;
    background-color: #10312B;    
    top: 0;
    left: 0;
    position: sticky;
}

body {
    margin: 0;
}

.nav_anchor {
    font-family: 'Montserrat';
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
}

.nav_anchor:hover {
    color: #DDCBA4;
}

#logoheader {
    width: 12vw;
    height: 5vh;
}


#container {
    width: 100%;
    display: flex;
    gap: 1.7rem;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.nav_item {
    padding: 1.2rem;
}

nav {
    padding: 0.8rem 10rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;   
}

/*CSS para el footer*/

footer {
    font-family: 'Montserrat';
    background-color: #10312B;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: flex-start;
  }
  
  .enlaces ul, .descripcion ul {
    list-style: none;
    padding: 0;
  }
  
  .enlaces h3, .descripcion h3, .denuncia h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .enlaces li, .descripcion li {
    margin-bottom: 8px;
  }
  
  .enlaces li a, .descripcion li a, .denuncia a {
    color: white;
    text-decoration: none;
  }
  
  .enlaces li a:hover, .descripcion li a:hover, .denuncia a:hover {
    text-decoration: none; /* Elimina el subrayado al pasar el mouse */
    cursor: pointer; /* Opcional: muestra la mano al pasar el mouse */
  }
  
  .denuncia .social-media a img {
    width: 26px; /* Ajusta el ancho del icono */
    height: 28px; /* Ajusta la altura del icono */
    margin-right: 10px; /* Espacio entre los iconos */
  }
  
  .descripcion p {
    margin-bottom: 10px;
  }
  
  .descripcion p a {
    color: white;
    text-decoration: none;
  }
  
  .descripcion p a:hover {
    text-decoration: underline;
  }

  .gob-mx {
    margin-right: 60px; /* Espacio entre la imagen y los enlaces */
  }
  
  .gob-mx img {
    width: 120px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-left: -100px; /* Asegúrate de que no haya margen a la izquierda */
    display: block;
    width: 18vw;
    height: 9vh;
  }

  /*Termina css del footer*/